{% extends "layout.html" %}

{% block content %}

    <main class="container signup-section">
    <div class="section-content">
        <h2>Create an account</h2>

        <form method="POST" action="/signup">
            {{ form.hidden_tag() }}

            <div class="from-group">
                {{ form.first_name.label }}
                {{ form.first_name }}
            </div>

             <div class="from-group">
                {{ form.last_name.label }}
                {{ form.last_name }}
            </div>

             <div class="from-group">
                {{ form.email.label }}
                {{ form.email }}
            </div>

             <div class="from-group">
                {{ form.password.label }}
                {{ form.password }}
            </div>

            {{ from.submit(class="btn-primary") }}
        </form>
    </div>

    </main>
{% endblock %}